* {
  font-family: 'Museo Sans Cyrl', sans-serif;
}

@import'header'

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 946px;
  margin: 0 auto;
  padding: 0 10px;
}

.button{
  width: 153px;
  height: 32px;
  background-color: #C70101;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.phone{
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}








