* {
  font-family: 'Museo Sans Cyrl', sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 946px;
  margin: 0 auto;
  padding: 0 10px;
}



.button{
    background-color: #C70101;
    border: none;
    width: 300px;
    height: 50px; 
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
}

.button__header{
  width: 153px;
  height: 32px;
  background-color: #C70101;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.button-mini{
  width: 135px;
  height: 44px;
  font-size: 14px;
}

.phone{
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#consultation, #order, #thanks{
  display: none;
}

@import 'header';
@import 'benefits';
@import 'consultation';
@import 'feed-forms';
@import 'carousel';
@import 'catalog';
@import 'reviews';
@import 'footer';
@import 'overlay';
@import 'animated';
